{% load static %}
<html>
    <head>
        <title>Summary</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>

    <body>
            <div class="container">
        <form action="{% url 'summary' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                    <div class="alert alert-secondary" role="alert">
                            Provide your article
                          </div>
              
              <textarea placeholder="{{ rootext }}" onkeyup="resizeTextarea('exampleFormControlTextarea1')" class="form-control" name="usertext" id="exampleFormControlTextarea1" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Get Summary</button>
          </form>

          <div class="alert alert-primary" role="alert">
                {{summarytext}}
              </div>
            </div>


            <script>
            function resizeTextarea (id) {
                var a = document.getElementById(id);
                a.style.height = 'auto';
                a.style.height = a.scrollHeight+'px';
                }

                function init() {
                var a = document.getElementsByTagName('textarea');
                for(var i=0,inb=a.length;i<inb;i++) {
                    if(a[i].getAttribute('data-resizable')=='true')
                    resizeTextarea(a[i].id);
                }
                }

                addEventListener('DOMContentLoaded', init);
            </script>
        
    </body>
</html>